/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Rubik", sans-serif;
  width: 90%;
  margin: 50px;
}
header {
  text-align: center;
}
h1,
p {
  margin: 20px auto;
}
h1 {
  color: rgb(229, 49, 112);
}

.box {
  background-color: blueviolet;
}
/*  css box */
.box {
  background-color: rgb(15, 14, 23);
  /*  il primo valore del box-shadow indica la distasza in cui cade l'ombra destra o sinistra
      il secondo valore indica la distanza in cui cade l'ombra sopra o sotto 
      il terzo  valore indica la dissolvenza */
  box-shadow: 1px 1px 10px #888888;
  color: white;
  margin: 15px;
  width: calc(100% / 3 - 30px);
}
img {
  width: calc(100% / 3);
}
h3,
h5,
a {
  margin: 20px 20px;
}
h5{
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: rgb(8, 200, 248);
}
.box-son {
  float: right; 
  width: calc((100% / 3) * 2);
}

.box,
.box > img {
  float: left;
}
.box::after{
  content: "";
  display: table;
  clear: both;
}
